*.ts linguist-detectable=true
*.js linguist-detectable=true
*.html linguist-detectable=true
*.css linguist-detectable=true
*.scss linguist-detectable=true
*.sass linguist-detectable=true
*.java linguist-detectable=true

dist/** linguist-vendored
build/** linguist-vendored
node_modules/** linguist-vendored
**/target/** linguist-vendored

*.lock linguist-vendored
*.json linguist-vendored
*.md linguist-documentation
*.yml linguist-documentation
*.yaml linguist-documentation

*.png linguist-vendored
*.jpg linguist-vendored
*.jpeg linguist-vendored
*.gif linguist-vendored
*.ico linguist-vendored
*.svg linguist-vendored
*.ttf linguist-vendored
*.woff linguist-vendored
*.woff2 linguist-vendored
