*.ts      linguist-detectable=true
*.js      linguist-detectable=true
*.html    linguist-detectable=true
*.css     linguist-detectable=true
*.scss    linguist-detectable=true
*.sass    linguist-detectable=true
*.java    linguist-detectable=true

dist/**
build/**
node_modules/**
**/target/**
*.lock
*.json
*.png
*.jpg
*.jpeg
*.gif
*.ico
*.svg
*.ttf
*.woff
*.woff2 linguist-vendored

*.md
*.yml
*.yaml linguist-documentation
